body {
    background-color: rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer-container {
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    transition: background-color 5s;
}

.white-text {
    color: white;
}

.flashing {
    animation: flash 1s linear infinite;
    color: black;
}

@keyframes flash {
    0%, 49.9% {
        background-color: rgb(208,60,60);
    }
    50%, 100% {
        background-color: white;
    }
}

#timer-display {
    font-size: 10em;
    margin: 50px;
    text-shadow: 2.5px 2.5px black;
}

button {
    background-color: white;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    padding: 15px;
    color: rgb(109, 109, 109);

}

button:hover {
    background-color: rgb(218, 243, 255);
}

button:active {
    background-color:rgb(177, 230, 255);
}

#assistance-display {
    display: flex;
    justify-content:center;
    color: rgb(255, 255, 255);
    gap: 10px;
    padding: 20px;
}

#real-time-container {
    color: white;
    font-size: 6em;
    border: 5px solid rgb(167, 189, 255);
    padding: 25px;
    text-shadow: 2px 2px black;
}

#assistance-display h2 {
    background-color: rgb(101, 101, 101);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px black;
    text-shadow: 2px 2px black;
}
